#form {
    display: none;
}

#CollapsibleBtn {
    z-index: 100;
    position: fixed;
    top: 0px;
    left: 5px;
    height: 60px;
    display: none;
}

#CollapsibleBtn2 {
    position: right;
    padding-right: 2%;
    padding-top: 4%;
    display: block;
}

#search {
    padding-left: 15px;
    padding-right: 15px;
}

#searchBtn {
    padding-left: 15px;
    padding-right: 15px;
}

#navbar {
    display: flex;
    z-index: 1;
}

#cf {
    padding-left: 0px;
    padding-right: 0px;
}

nav ul {
    /* select only ul elements under nav element  */
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    width: 16%;
}

nav li a {
    /* select only a elements under li elements under nav element  */
    display: block;
    color: rgb(94, 60, 109);
    padding: 8px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(67, 85, 95);
    color: white;
}

.text {
    margin-left: 15%;
    padding: 10px;

}